.options {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0fdfa;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.options h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.level {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 3rem;
}

.level p {
  margin-right: 3rem;
  font-size: 2.4rem;
}

.level div {
  background-color: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.level .active {
  background-color: #60a5fa;
}

.bool {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.bool p {
  margin-right: auto;
  font-size: 2.4rem;
}

.bool button {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1.5rem 3rem;
}

.bool .active {
  background-color: #60a5fa;
}

@media (max-width: 900px) {
  .level,
  .bool {
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .level p,
  .bool p {
    font-size: 1.6rem;
  }
  .level div,
  .bool div,
  .bool button {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 460px) {
  .bool,
  .level {
    flex-direction: column;
  }
  .level,
  .bool {
    justify-content: center;
  }
  .level p,
  .bool p {
    margin: 0;
  }
}
