.controls {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
}

.controls button {
  font-size: 3rem;
  background-color: rgba(227, 183, 160, 0.7);
  border: none;

  padding: 1rem 2rem;
}

.controls button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(227, 183, 160, 0.9);
  cursor: pointer;
}
