.board {
  display: grid;
  gap: 3rem;
  width: fit-content;

  margin: 0 auto;
}

.board button {
  font-size: 15rem;
  background-color: rgba(227, 183, 160, 0.7);
  border: none;
  width: 20rem;
  height: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(227, 183, 160, 0.9);
  cursor: pointer;
}
.board button:disabled {
  cursor: not-allowed;
  color: black;
}

@media (max-width: 1100px) {
  .board button {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 1100px) {
  .board button {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 900px) {
  .board button {
    width: 10rem;
    height: 10rem;
    font-size: 8rem;
  }
}
@media (max-width: 700px) {
  .board {
    gap: 2rem;
    grid-template-columns: 1fr 1fr !important;
  }
  .board button {
    width: 7rem;
    height: 7rem;
    font-size: 5rem;
  }
}
