.form div {
  display: flex;
  flex-direction: column;

  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.form input,
.form select {
  font-size: 2.4rem;
  font-style: inherit;
  color: inherit;
  border: none;
  background-color: #fafaf9;

  padding: 0.5rem 1rem;
}
