.mod {
  width: 90%;
}
.mod > p {
  width: 80%;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.board span {
  font-size: 5rem;
  justify-self: end;
}

.board img {
  width: 250px;
}

.letters {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.mod button {
  font-size: 1.6rem;
}

.alphabet button:disabled {
  background-color: rgb(192, 192, 192, 0.5);
}
.alphabet button:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}

.controls {
  display: flex;
  gap: 5rem;
}

.definition {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (max-width: 1600px) {
  .mod button {
    padding: 1rem 2rem;
  }
  .board span {
    font-size: 3.2rem;
  }
}
@media (max-width: 700px) {
  .board {
    grid-template-columns: 1fr;
  }
  .mod h2 {
    margin-top: 5rem;
  }
  .mod button {
    padding: 0.5rem 1rem;
  }
  .board span {
    font-size: 2.4rem;
  }
  .controls {
    gap: 2rem;
  }
  .board img {
    width: 150px;
  }
}
